@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.header{
display: flex;
justify-content: space-between;
background-color: #204F97; 
color: white; 

color: yellow; 
}

.btn{
    margin-right:40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    background-color: #204F97;
    color: yellow;
    font-family: 'Fredoka One', cursive;
}

.btn:hover{
    background-color: yellow;
    color: #204F97;
}

h2{
    margin-left: 20px;
    margin-top: 24px;
}