.main{
    display: flex;
}

.image{
    background-color: blue;
    width: 50vw;
    height: 75vh;
    margin: 30px;
}

.img{
height: 400px;
width: 400px;
    padding-left: 120px;
    padding-top: 30px;
}

.info{
    background-color: rgb(202, 202, 214);
    width: 50vw;
    height: 75vh;
    margin: 30px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.head{
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
}

.btn{
    border-radius: 8px;
    outline: none;
   padding: 10px;
    margin-block: auto;
    margin-right: 30px;
    background-color: #204F97;
    color: yellow;
    font-family: 'Fredoka One', cursive;
}

.btn:hover{
    background-color: yellow;
    color: #204F97;
}

h1{
    margin-left: 40px;
    font-size: 30px;
}

.description{
    font-size: 12px;
    padding: 12px;
}

.TypePill{
    background-color: yellow;
    color: rgb(5, 5, 61);
    padding: 6px;
    margin-left: 8px;
    border-radius: 10px;
}

.WeaknessPill{
    background-color: rgb(1, 88, 37);
    color: rgb(207, 207, 221);
    padding: 6px;
    margin-left: 8px;
    border-radius: 10px; 
}

.weakness{
    margin-top: 40px;
}

.label{
    margin-left: 30px;
}